.left {
  float: left;
}

.right {
  float: right;
  width: 60%;
}

.form-popup {
  background-color: #fff;
  display: block;
  position: fixed;
  top: 20px;
  left: 500px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 654px;
  padding: 10px;
  background-color: white;

  label {
    font-weight: bold;
  }

  .btn {
    font-size: 12px;
    font-weight: bold;
    background-color: #04aa6d;
    color: white;
    padding: 13px 42px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
    width: 50%;
    opacity: 0.8;
  }

  .cancel {
    background-color: red;
  }
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  height: 30px;
  margin: 5px 0 12px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.left .avatar {
  margin: 0px 50px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #000;
}

.proirity {
  color: red;
}

.type {
  margin: 5px 0px 5px 0px;
}